@media only screen and (min-width: 400px) and (max-width: 1600px) {
  .mainActivitiesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainActivitiesContainer > img {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
  }

  .activitiesContent {
    width: 100vw;
  }

  .activitiesContent > h3 {
    font-family: var(--font-family-basic);
    font-size: 42px;
    margin: 30px 20px;
  }

  .activitiesCards {
    width: 100vw;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    overflow-x: auto;
  }
}
