@media only screen and (max-width: 400px) {
  .mainFirstPageContainer {
    height: 100%;
    background-image: url("/public/bcg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* NAVBAR  */
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(8px);
  }
  .navBarTitle {
    font-size: 24px;
    margin: 15px;
    min-width: fit-content;
    font-family: var(--font-family-fancy);
  }
  .navBarListBig {
    display: none;
  }

  .hamburgerIcon {
    margin: 0 30px;
  }
  .navBarList {
    width: 100%;
    position: absolute;
    top: 58px;
    right: 0;

    padding: 10px 0;
    background-color: var(--primary-color);
    list-style-type: none;
  }
  .navBarList > li {
    font-size: 24px;
    font-weight: 100;
    margin: 0 20px;
    transition: 0.2s;
    padding: 0 10px;
    border-left: 4px solid transparent;
  }
  .navBarList > li:hover {
    border-left: 4px solid var(--accent-color);
    cursor: pointer;
  }

  /* MOTTO  */
  .motto {
    font-family: var(--font-family-basic);
    position: absolute;
    top: 38%;
    left: 10px;
  }
  .motto > h1 {
    font-size: 38px;
  }

  /* BANNER  */
  .banner {
    width: 100%;
    padding: 20px 0;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    bottom: -90px;
  }
  .banner > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .banner > ul > li > strong {
    font-size: 22px;
    color: var(--accent-color);
  }
  .banner > ul > li > p {
    font-size: 14px;
    font-family: var(--font-family-basic);
    color: var(--primary-color);
  }
}
