@media only screen and (min-width: 400px) and (max-width: 950px) {
  .mainFirstPageContainer {
    height: 100%;
    background-image: url("/public/bcg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* NAVBAR  */
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
  }
  .navBarTitle {
    font-size: 32px;
    margin: 20px;
    font-family: var(--font-family-fancy);
  }
  .navBarListBig {
    display: flex;
    list-style: none;
    font-size: 22px;
    font-weight: 100;
    margin: 0 20px;
    transition: 0.2s;
    padding: 0 10px;
    border-left: 4px solid transparent;
  }
  .navBarListBig > li {
    display: none;
    font-size: 2px;
    font-weight: 100;
    margin: 0 20px;
    transition: 0.2s;
    padding: 0 10px;
    border-left: 4px solid transparent;
  }

  .hamburgerIcon {
    margin: 0 30px;
  }
  .navBarList {
    position: absolute;
    top: 78px;
    right: 0;

    padding: 10px 0;
    background-color: var(--primary-color);
    list-style-type: none;
  }
  .navBarList > li {
    font-size: 22px;
    font-weight: 100;
    margin: 0 20px;
    transition: 0.2s;
    padding: 0 10px;
    border-left: 4px solid transparent;
  }
  .navBarList > li:hover {
    border-left: 4px solid var(--accent-color);
    cursor: pointer;
  }

  /* MOTTO  */
  .motto {
    font-family: var(--font-family-basic);
    position: absolute;
    top: 40%;
    left: 30px;
  }
  .motto > h1 {
    font-size: 58px;
  }

  /* BANNER  */
  .banner {
    width: 100%;
    padding: 40px 0;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    bottom: -60px;
  }
  .banner > ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .banner > ul :nth-child(2n) {
    padding-bottom: 20px;
  }
  .banner > ul :nth-child(2n + 1) {
    padding-top: 20px;
  }
  .banner > ul > li > strong {
    font-size: 32px;
    color: var(--accent-color);
  }
  .banner > ul > li > p {
    font-size: 22px;
    font-family: var(--font-family-basic);
    color: var(--primary-color);
  }
}
